@page "/loaihang/{handler?}/{maLoaiHang?}"
@model StoreManager.Pages.DSLoaiHang.LoaiHangModel
@using StoreManager.Pages._Common
<div style="margin: auto;" class="border border-light p-3 w-50 shadow">
    @switch (Model.Job)
    {
        case Enumuration.Action.Detail:
            template(readOnly: true, errorMessage: "Không tìm thấy cuốn sách bạn yêu cầu.");
            <a class="btn btn-info btn-block mb-2" href="/">Return</a>
            break;
        case Enumuration.Action.Delete:
            template(readOnly: true, errorMessage: "Không tìm thấy cuốn sách bạn yêu cầu.");
            if (Model.Tygoods != null)
            {
                <p class="text-danger text-center">Bạn thực sự muốn xóa cuốn sách này?</p>
                <a class="btn btn-danger btn-block mb-2" href="/book/@Model.Tygoods.MaLoaiHang?handler=deleteConfirm">Delete</a>
            }
            <a class="btn btn-info btn-block mb-2" href="/">Return</a>
            break;
        case Enumuration.Action.Create:
            await form("create");
            break;
        case Enumuration.Action.Update:
            await form("update");
            break;
    }
</div>

@{
    void template(bool readOnly = true, string errorMessage = "")
    {
        if (Model.Tygoods == null)
        {
            <p class="h5 text-center text-danger mb-4">@errorMessage</p>
            return;
        }
        <input name="id" type="hidden" value="@Model.Tygoods.MaLoaiHang" />
        <p class="h4 text-center mb-4">@Model.Tygoods.TenLoaihang</p>
        <label for="TenLoaihang" class="">Tên Loại Hàng</label>
        <input name="TenLoaihang" type="text" class="form-control mb-2" value="@Model.Tygoods.TenLoaihang" @(readOnly ? "readonly" : "") />
        <label for="MoTaLoaihang">Mô tả loại hàng</label>
        <textarea class="form-control mb-5" name="MoTaLoaihang" rows="5">@Model.Tygoods.MoTaLoaihang</textarea>


    }
}


@{
    async Task form(string handler)
    {

        <form method="post" href="?handler=@handler" class="">
            @{template(false); }
            <div class="d-flex flex-row-reverse">
                <button type="submit" class="btn btn-primary ml-2 mb-2">Save</button>
                <button type="reset" class="btn btn-secondary ml-2 mb-2">Reset</button>
                <a class="btn btn-info ml-2  mb-2" href="/">Return</a>
            </div>

        </form>
    }
}
